*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Assistant", serif;
}
p {
   
    font-family: "Assistant", serif;
    font-size: 17px;
    font-weight: 500;
}

.mainmenu {
    background-color: #241F62;
}

.commonheading.spacebtm {
    margin-bottom: 40px;

}

/* top menu css */
.topmenuouterbox {
    background-color: #DDDEE0;
    text-align: center;
    padding: 5px 0px;
}
.topmenuouterbox  p{
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: 600;
    font-family: "Assistant", serif;
    text-transform: capitalize;
   
}


/* menu css */
img.img-fluid.tyrelogo {
    
  
    width: 100%;
}

a.nav-link {
    color:  #DDDEE0; 
    font-family: "Racing Sans One", serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    padding: 0px 30px !important;
    letter-spacing: 1px;
    word-spacing: 1px;
    
}

.nav-link:hover {
    color: #E3E41A !important; /* Highlight color on hover */
  }



  
/* hero section css */

.heroobox{
    background-image: url("./images/clmtyresbanner.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
}
.heroright {
    margin-right: 50px;
}
.heroright h1 {
    font-family: "Assistant", serif;
    font-size: 64px;
    font-weight: 700;
    color:#D1D2D4;
    text-transform: capitalize;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}
.heroright p {
    color: #fff;
    font-size: 20px;
    font-weight:500 ;
    font-family: "Assistant", serif;
}

.registertabsss h2 {
    color: #D1D2D4;
    font-family: Assistant;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    

}
.registertabsss {
    box-shadow: rgb(255 255 255 / 56%) 0px 22px 70px 4px;
    padding: 50px;
    background-color: #241f6263;
   
}
.registertabsss .nav-tabs {
    border-bottom: 0px;
    display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
}

.registertabsss .nav-tabs  li.nav-item {
    background-color: #EDEDED;

}
.registertabsss .nav-tabs .nav-link {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    padding: 10px 30px;
    font-size: 20px;
    color: #000;
}
.registertabsss .nav-tabs  .nav-link.active {
    background-color: #241F62;
    color: #fff !important;
}

.registertabsss .nav-tabs .nav-link.active:hover{
    color: #fff !important;
}
.registertabsss .nav-tabs .nav-link:hover{
    color: #000 !important;
}
.registertabsss .tab-content {
    padding: 20px 5px;
}
.vehicleformss {
    width: 100%;
   
}

.tyresizebox .rear-option h3 {
    color: #fff;
    font-family: Assistant;
    font-size: 40px;
    font-weight: 500;
}
form.sameline .input-group-text{
    background-color: #F4CF17;
    border: 1px solid #F4CF17;
    border-radius: 0px;
   
}

form.sameline input.form-control {
   
    padding: 10px;

}
button.btn.searchbtnss {
    background-color: #F4CF17;
    border: 1px solid #F4CF17;
    color: #fff;
    font-size: 20px;
    font-family: 'heavyNexa';
    padding: 7px 30px;
    height: 50px;
    max-width: 200px;
    width: 100%;
    margin-top: 30px;
}
.tyresizebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .tyresizebox  .sameline {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .tyresizebox  .rear-option {
    display: flex;
    flex-direction: column;
    min-width: 112px;
  }
  
  .tyresizebox .rear-option select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 







/* services section css */

.commonhomepagespacetopandbottom{
    padding: 70px 0px;
}
.services-outer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .commonheading h3 {
    font-family: "Assistant", serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.2;
    word-spacing: 1px;
    color: #241F62;
}
  .servicesbox {
    padding: 50px 40px !important;
    text-align: center;
    transition: all 0.3s ease-in-out;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #F4CF17;
    margin: 0px auto;
    width: 31% !important;
    transition: 0.8s ease;
    
  }
  .servicesbox:hover{
    background-color: #F4CF17;
    transform: scale(1.05);
    transition: 0.8s ease;
  }
  .servicesbox h3 {
    color: #F4CF17;
    font-size: 30px;
    font-family: "Assistant", serif;
    font-weight: 600;
    line-height: 1.2;
    margin: 20px 0px;
}

.servicesbox:hover h3{
    color: #000;
}
/* brand tyres section css */
.brandsmainbox{
    background-color: #241F62;
    }

    .tyrebrandsssheading h3{
        color: #D1D2D4;
        font-size: 40px;
        font-family: "Assistant", serif;
        font-weight: 700;
        line-height: 1.2;
     margin-bottom: 50px;

     padding-left: 100px;
    }
 

    .whychoosemain {
        border: 2px solid #E3E41A;
        border-radius: 12px;
        padding: 40px 40px !important;
        transition: 0.8s ease all;
    }
    .whychoosemain:hover{
        transform: scale(1.05);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        background-color: #241F62;
        border: 2px solid #241F62;
        transition: 0.8s ease all;
    }

    .whychoosemain:hover h5 ,  .whychoosemain:hover p{ 
        color: #E3E41A;
    }
    .whychoosemain h5 {
        font-family: Assistant;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.3;
        height: 80px;
        text-align: center;
        margin: 30px 0px;
    }
/* comapny tyres section css */
.maintyrcompanybox{
box-shadow: 0px 0px 12px 5px #00000040;
width: 31% !important; 
margin: 0 auto;
padding: 40px 30px !important;
border: 4px solid #241F62;
transition: 0.8s ease all;
}

.maintyrcompanybox:hover{
    border: 4px solid #F4CF17;
    transform: translateY(-20px);
}
.imagesamebox {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.maintyrcompanybox h3{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Assistant", serif;
    text-transform: capitalize;
}
.maintyrcompanybox h5{
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Assistant", serif;
    text-transform: capitalize;
}



.maintyrcompanybox ul li{
    list-style-type: disc;
    font-size: 17px;
    font-weight: 500;
    font-family: "Assistant", serif;
}

.buytypresss {
    background-color: #241F62;
    padding: 70px;
}
.buymainbox {
    transition: 0.8s ease all;
    background-color: #fff;
    margin: 40px;
    padding: 70px 40px;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.6s ease all;
}


.buymainbox h5 {
  font-family: Assistant;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: #241F62;
  margin: 30px 0px 20px 0px;
  height: 80px;
}

.buymainbox:hover {
    transform: translateY(-20px);
    transition: 0.6s ease all;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* tyres cards page css */
.outermintyrebox {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px 20px;
    border-radius: 10px;
}

.bottomtyre h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.pricebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}



.pricebox h2 {
    color: #3d52a0;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
}

button.butbtn {
    background-color: green;
    border: 1px solid green;
    padding: 7px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.slectoptionsbox {
    display: flex;
    justify-content: space-between;

}

select.form-select {
    max-width: 250px;
}
.ordernowbox {
    padding: 7px;
    border: 2px solid #3d52a0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin: 25px 0px 0px 0px;
}

span.orderinfo {
    margin-left: 14px;
    color: #000;
}

.ordernowbox span > strong{
    color: #3D52a0;
    text-transform: capitalize;
}

.footeroutermain{
    background-image: url("./images/clmtyresbanner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 50px;
}

.footeroutermain h3{
font-family: "Assistant", serif;
font-size: 30px;
font-weight: 600;
  color: #F4CF17;
  margin-bottom: 14px;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 30px;
}
.footeroutermain ul {
    padding-left: 0px;
}
.footeroutermain ul li {
    list-style: none;
    padding-top: 9px;
}
.footeroutermain ul li a{
    list-style: none;
    color: #fff;
    
    font-family: "Assistant", serif;
font-size: 20px;
font-weight: 400;
text-decoration: none;
}
.spacefooter {
    padding-top: 100px;
    border-bottom: 3px solid #F4CF17;
}

.iconsfooterboxbotoms ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconsfooterboxbotoms ul li a{
    padding-left:10px;
    
    
}
.iconsfooterboxbotomsoicalicon ul{
    display: flex;
    justify-content: end;
}
.iconsfooterboxbotomsoicalicon ul li a{
    padding-left: 20px;
   

}
.vehicleouterbox {
    box-shadow: 0px 0px 12px 5px #00000040;
    width: 24% !important;
    margin: 0 auto;
    padding: 40px 30px !important;
    border: 3px solid #000;
    transition: 0.8s ease all;
}

.vehicleouterbox:hover{
    border: 3px solid #F4CF17;
    transform: scale(1.05);
    transition: 0.8s ease;
}

.vehicleouterbox h2 {
    font-family: "Assistant", serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.vehicleouterbox p {
    font-family: "Assistant", serif;
    font-size: 16px;
    font-weight: 400;
}


.soldoutbox{
    background-image: url("./images/tyresbg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}

.yellowbox {
    background-color: #241F62;
    text-align: center;
    padding: 100px 30px;
}
.yellowbox h2 {
    font-family: "Assistant", serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    color: #E3E41A;
}

.yellowbox  p{
    font-family: "Assistant", serif;
    font-size: 30px;
    font-weight: 700;
    color: #E3E41A;
  
}
.blackbox{
    text-align: center;
    padding: 100px 30px;
    background-color: #000000b0;
}

.blackbox h2{
    font-family: "Assistant", serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    color: #fff;
}

.blackbox  p{
    font-family: "Assistant", serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  
}

#accordionFlushExample .accordion-button{
    font-size: 20px;
    font-weight: 600;
    font-family: "Assistant", serif;
    text-transform: capitalize;

}

#accordionFlushExample  .accordion-body p{
  
    
}
.accordion-button:not(.collapsed),
.accordion-button:focus {
  outline: none;
  border-color: #241F62 !important;
  box-shadow: none !important;
  background-color: transparent;
}

  .accordion-button::after {
    transition: all 0.5s;
  }
  
.accordion-button {
    border:2px solid #241F62 !important;
    color: #241F62 !important ;
}
.accordion-button:not(.collapsed) {
    background-color: #241F62 !important;
    color: #fff !important;
    
}

/* about page css */

.aboutusbanner{
    background-image: url("./images/footer-bg-classic.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 50px;
    height: 500px;
}

.commonbannerbox h1{
    font-family: "Assistant", serif;
    font-size: 64px;
    font-weight: 700;
    margin-top: 80px;
    color: #F4CF17;
    line-height: 1.2;
}

.commonbannerbox p{
    font-family: "Assistant", serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.ceobox {
    padding: 20px 105px 20px 0px;
}
.ceobox h3{
    font-family: "Assistant", serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
    color: #241F62;
    line-height: 1.2;
    margin-bottom: 30px;
}
.teammemberouterbox {
    margin-top: 50px;
    text-align: center;
}
.teaminfo h2{
    font-family: "Assistant", serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    color: #000;
    line-height: 1.2;
    margin-bottom: 20px;
}
.teaminfo p{
    font-family: "Assistant", serif;
    font-size: 20px;
    font-weight: 500;
    
    color: #000;
    line-height: 1.2;
    margin-bottom: 30px;
}

/* checkout page css */

.productmainbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricetotlabox {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 50px 30px;
}
.roductimage {
    background-color: #EDEDED;
    padding: 50px;
}

.commonheadingyellow h3{
    font-family: "Assistant", serif;
    font-size: 64px;
    font-weight: 700;
    color: #F4CF17;
    line-height: 1.2;
    margin-bottom: 30px;
}

.commonheadingyellow p{
    font-family: "Assistant", serif;
    font-size: 25px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
    margin-bottom: 30px;
}

.cartsspaceee {
    padding-top: 100px;
}

.cartproductinfo h5{
    font-family: "Assistant", serif;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
    margin-bottom: 50px;
}

.cartproductinfo p{
    font-family: "Assistant", serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
    margin-bottom: 30px;
}
.crossbtnss{
    background-color: transparent;
    border: none;
    padding: 0px 30px;
}

select#select {
    border: 2px solid #f4cf17;
    padding: 3px 6px;
    border-radius: 5px;
}
.otherservices {
    padding: 40px;
    border: 3px solid #F4CF17;
    border-radius: 12px;
}
.wheelbox {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.wheelbox h5{
    font-family: "Assistant", serif;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
    word-spacing: 1px;
 
}

.wheelbox p{
    font-family: "Assistant", serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
}
.wheelprice {
    margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}



.wheelprice p {
    margin: 0px 50px 0px 14px;
    font-family: "Assistant", serif;
    font-size: 18px;
    font-weight: 400;
}

.addmoreservices {
    background-color: #F4CF17;
    color: #000;
    padding: 10px 30px;
    border-radius: 5px;
    border:1px solid #F4CF17;
    font-family: "Assistant", serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    margin: 0 auto;

}

@media only screen and (max-width: 1280px) {
    img.companylogo {
        max-width: 150px;
    }
    img.tyrecompanylogo {
        max-width: 150px;
    }
    .maintyrcompanybox h3{
        font-size: 20px;
    }
}
@media only screen and (max-width: 750px) {
.ceobox {
    padding: 20px 20px;
}
}

@media only screen and (max-width: 430px) {
    .heroright h1{
        font-size: 35px;
    }
    .heroright p{
        font-size: 16px;
    }
    .heroobox{
        height: auto;
        
    }
    .heroright{
        margin-right: 0px;
        padding: 30px 20px;
    }
    .servicesbox ,.maintyrcompanybox {
        width: 92% !important;
        margin: 15px !important
    }
    
    .commonheading h3 {
        font-size: 25px;
    }

    #accordionFlushExample .accordion-button {
        font-size: 18px;
    }
    .iconsfooterboxbotoms ul{
        display: block;
    }
  }